.signinContainer {
  margin: 30px auto 15px;
  width: 50%;
}

.title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px 15px;
  margin-top: 20px;
  text-align: center;
}

.submitContainer {
  margin-top: 30px;
  text-align: center;
}

.signinButton {
  background-color: lightgray;
  font-weight: bold;
  font-size: 0.9rem;
  border: 1px solid gray;
  padding: 10px 20px;
  border-radius: 5px;
  width: 30%;
}

.input {
  width: 50%;
}

.errorMessage {
  margin-top: 15px;
  color: red;
  padding: 10px 15px;
  background-color: #ff000042;
}